In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nebula\appdata\local\programs\python\python311\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\nebula\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

In [20]:
# TASK 1
connection = connector.connect(user='root', password='', db='littlelemondb')
cursor = connection.cursor()

In [21]:
# TASK 2
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menuitems',), ('menus',), ('orders',), ('ordersview',)]

In [23]:
# TASK 3
query = """
select 
    customers.FullName, 
    customers.PhoneNumber,
    customers.Email,
    orders.TotalCost
from customers
join orders on orders.CustomerID=customers.CustomerID
where orders.TotalCost > 60
"""
cursor.execute(query)

results = cursor.fetchall()
print(results)

[('Laney Fadden', '1234567', 'lf@email.com', Decimal('500')), ('Merrill Baudon', '3333333', 'mb@email.com', Decimal('600')), ('Lia Bonar', '2222222', 'lb@email.com', Decimal('300')), ('Giacopo Bramich', '1111111', 'gb@email.com', Decimal('125'))]